
.container-content{
    width: 1300px;
}


.list-items{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    list-style: none;
    padding: 0px;
    width: 802px;
    margin: 10px;
}
.items{
    height: 350px;
    width: 200px;
    background-color: pink;
    border: 1px solid black;
    margin: 0px;
}
.items .image-item{
    height: 180px;
    width: 180px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;

}
.items .name-item{
    margin: 10px;
}

.page-number{
    
}