:root{
    --star-size: 30px;
    --star-color: #ccc;
    --star-background: #fc0;
}
/* Content */
.content-view{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid #000;
    margin: 0;
    padding: 0;
    min-width: 0;
}
.content-text-v2{
    box-sizing: border-box;
    display: block;
    font-size: 4.26667vw;
    white-space: pre-wrap;
}
.container-content{
    width: 1190px;
    margin: 40px auto;
}
.main-content{
    border-radius: 18px;
    overflow: hidden;
    margin: 20px 0;
    background: #fff;
    flex-direction: row;
    box-shadow: rgb(98 98 98 / 15%) 0px 1px 30px 2px;
}
.main-content  .item-feed{
    background: #fff;
    margin: 18px;
    width: 668px;
    justify-content: space-between;
}
.main-content  .wrapper-item-image{
    margin: 18px;
    width: 450px;
    height: 450px;
    border-radius: 18px;
}
.main-content  .wrapper-item-image  .item-image{
    border: solid 1px #e9ecef;
    width: 450px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.item-feed  .item-feed-header{
    display: flex;
}
.item-feed  .item-feed-header  .rating{
    margin-top: 0.625rem;
    display: flex;
    flex-direction: row ;
}
.item-feed  .item-feed-header  .rating  .rating-quantity{
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: fit-content;
}
.item-feed  .item-feed-header  .rating  .rating-quantity  .quantity{
    font-size: 1rem;
    color: #222;
    margin-right: 5px;
    padding-bottom: 1px;
    border-bottom: 1px solid #555;
}
.item-feed  .item-feed-header  .rating  .rating-quantity  .text{
    font-size: .875rem;
    color: #767676;
    text-transform: capitalize;
    padding: 4px 0;
    margin-right: 5px;
}
.item-feed  .item-feed-header  .rating  .rating-star{
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: fit-content;
    border-right: 1px solid rgba(0,0,0,.14);
}
.item-feed  .item-feed-header  .rating  .rating-star  .rating-point{
    color: #ee4d2d;
    border-bottom: 1px solid #ee4d2d;
    font-size: 1rem;
    margin-right: 5px;
    padding-bottom: 1px;
    width: fit-content;
}
.item-feed  .item-feed-header  .header-title{
    font-weight: 700;
    font-size: 24px;
    color: #333;
    margin-right: 5px;
}
.item-feed  .item-feed-header  .wrapper-price{
    margin-top: 10px;
    height: 100px;
    padding: 15px 20px;
    height: 70px;
    background: #fafafa;
}
.item-feed  .item-feed-header  .wrapper-price  .header-price{
    font-size: 1.875rem;
    font-weight: 500;
    color: #ee4d2d;
    margin-right: 5px;
}
.item-feed  .item-feed-buy{
    margin-top: 15px;
}
.item-feed  .item-feed-buy .item-select-quantity{
    color: #757575;
    margin-top: 16px;
    align-items: center;
    display: flex;
}
.item-feed  .item-feed-buy .item-select-quantity .item-title-quantity{
    color: #757575;
    width: 110px;
    text-transform: capitalize;
    flex-shrink: 0;
    align-items: center;
}
.item-feed  .item-feed-buy .item-select-quantity .item-btn-quantity{
    align-items: center;
    display: flex;
}
.item-feed  .item-feed-buy .item-select-quantity .item-btn-quantity .input-quantity{
    background: #fff;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* Plus + Minus Input */
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height: 32px;
    width: 32px;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
    cursor: pointer;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:7px 0 0 7px;
}
.is-form.plus {
    border-radius:0 7px 7px 0;
}
.input-qty {
    background-color:#fff;
    height: 32px;
    width: 50px;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.input-qty {
    -moz-appearance:textfield; /* Firefox */
}
.image-product{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Button - buy */
.item-feed  .item-feed-buy .item-btn-buy {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    padding-right: 15px;
}
.item-feed  .item-feed-buy .item-btn-buy button {
    cursor: pointer;
    background: #ee4d2d;;
    border: 0;
    border-radius: 5px;
    height: 48px;
    width: 180px;
    color: #fff;
    font-size: 14px;
}
/* Description */
/* Specifications */
.container-description {
    border-radius: 18px;
    overflow: hidden;
    margin: 20px 0;
    background: #fff;
}
.container-specifications{
    border: solid 1px #e9ecef;
    width: 1130px;
    margin: 25px auto;
    border-radius: 18px;
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 10px;
}
.container-specifications ul {
    list-style: none;
    width: 1110px;
}
.container-specifications button {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-specifications ul li {
    display: inline-flex;
    align-self: baseline;
    color: #495057;
    position: relative;
}
.container-specifications ul li span{
    width: 150px;
    margin: 8px;
    border-right: solid 1px #e9ecef;

}
.container-specifications ul li p{
    margin: 8px 0px;
    text-transform: uppercase;
}

/* Description */
.wrapper-description{
    width: 1110px;
    margin: 5px auto;
    padding-bottom: 25px ;
}
.wrapper-description p {
    white-space: pre-wrap;
    color: rgba(0,0,0,.8);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.open-model{
    border: 0px;
    background-color: #fff;
    cursor: pointer;
}
/* Model */
.model-product{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.7);
    font-family: Roboto,sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: #464646;
    min-height: 100vh;
}
.model-wrapper{
    margin: 100px auto;
    max-width: 800px;
    width: 100%;
}
.model-wrapper .model-box {
    width: 100%;
    background: #fff;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 14px;
    font-size: 14px;
    position: relative;
}
.model-wrapper .model-box .model-card-normal{
    /* min-height: 600px; */
    position: relative;
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-break: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 14px;
}
.card-title{
    position: relative;
    box-shadow: inset 0 -1px 0 0 #dee2e6;
    padding: 16px 45px 16px 30px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: #212529;
    font-weight: 500;
}
.close-model-product{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}
.close-model-product:hover {
    color:#464646;
}
.card-body{
    position: relative;
    padding: 0;
    border: 0;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    flex: 1 1 auto;
    padding-bottom: 20px;
}
.card-content .card-content-row .st-table-title{
    padding: 4px 30px;
    font-weight: 900;
    background: #f8f9fa;
    box-shadow: inset 0 -1px 0 0 #e9ecef;
    font-size: 16px;
    line-height: 24px;
}
.card-content .card-content-row .st-table {
    border-collapse: collapse;
    width: calc(100% - 60px);
    margin: 0 auto;
}
.card-content .card-content-row .st-table tr:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 #e9ecef;
}
.card-content .card-content-row .st-table td:first-child {
    color: #99a2aa;
    width: 200px;
    padding: 6px 0;
}
/* Reviews */
.review-rating-wrapper{
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 60px;
    background: #fff;
    box-shadow: rgb(98 98 98 / 15%) 0px 1px 30px 2px;
}
.review-rating-wrapper .title-review{
    flex-shrink: 0;
    align-items: center;
    padding: 16px 20px;
    margin-bottom: 0;
    position: relative;
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    font-weight: 570;
}
.review-rating-wrapper .title-review span {
    background: #ee4d2d;
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    color: #fff!important;
}
.review-rating-wrapper .review-body{
    padding: 0;
    flex: 1 1 auto;
    margin-bottom: 20px;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
}
.review-rating-wrapper .review-body .review-body-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.rating-point-wrapper{
    width: 500px;
    padding: 0 15px;
    text-align: center!important;
}
.rating-point-wrapper .point{
    color: #ee4d2d;
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 44px;
    line-height: 60px;
}
.stars-rating {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
    font-family: Times;
    margin-bottom: 4px;
}
.stars-rating::before{
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rating-chart-wrapper{
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 10px;
}
.c-progress-item {
    margin-bottom: 4px;
    padding-left: 86px;
}
.c-progress-item span {
    font-size: 14px;
    line-height: 20px;
    color: #99a2aa;
}
.c-progress-item label p{
    width: 15px;
    font-size: 15px;
    line-height: 1.33;
    display: inline-block;
}
.c-progress-item label .star{
    font-family: Times;
    font-size: 16px;
    display: inline-block;
    margin-left: 2px;
}
.c-progress-item label .star::before{
    content: '★';
    color: #fc0;
}
.c-progress-bar {
    background-color: #e9ecef;
    border-radius: 19.6px;
    width: 280px;
    height: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 4px 0 5px;
}
.c-progress-value {
    background-color: #48bb78;
    height: 100%;
    transition: .3s all linear;
    position: absolute;
    top: 0;
    display: inline-block;
}

.review-content-container{
    border-radius: 18px;
    overflow: hidden;
    margin: 20px 0;
    background: #fff;
    box-shadow: rgb(98 98 98 / 15%) 0px 1px 30px 2px;
    padding: 40px;
}
.user-review-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.avatar-user-review{
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.user-review-content{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
.name-user-review{
    margin-bottom: 10px;
    width: 270px;
}
.user-review-content span{
    margin: 10px 0px;
}
.user-review-content .rating-star-input{
    width: fit-content;
}   
.user-review-content .rating-star-input button{
    border: 0;
    background-color: #fff;
    font-family: Times;
    color: #ccc;
    font-size: 30px;
    cursor: pointer;
}
.user-review-content .rating-star-input button::before{
    content: '★';
}
.user-review-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-review-input textarea {
    border: 1px solid #ccc;
    height: 60px;
    width: 750px;
    padding: 10px;
    margin: 20px 0px;
}
.user-review-input textarea:focus-visible {
    outline: none;
    outline-offset: 0px;
}
.user-review-input button {
    cursor: pointer;
    background: #ee4d2d;
    border: 0;
    border-radius: 5px;
    height: 48px;
    width: 160px;
    color: #fff;
    font-size: 14px;
}
.review-input-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.user-review-content p{
    width: 1000px;
}
.user-review-content .name-user-review .time-review{
    color: rgb(121, 121, 121);
    font-size: 14px;
}
.user-review-content .stars-rating{
    font-size: 20px;
}