/* Global */
.content-view{
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid #000;
    margin: 0;
    padding: 0;
    min-width: 0;
}
.content-text-v2{
    box-sizing: border-box;
    display: block;
    font-size: 4.26667vw;
    white-space: pre-wrap;
}
.image-product{
    height: 80px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
/* Content */
.container-content{
    width: 1190px;
    margin: 40px auto;
}
.main-content{
    flex-direction: row;
    justify-content: space-between;
}
.main-content .main-spot{
    background-color: #fff;
    width: 860px;
    min-height: 570px;
    border-radius: 18px;
    justify-content: space-between;
    padding: 0px 20px;
    padding-bottom: 30px;
}
.main-content .main-menu{
    background-color: #fff;
    width: 310px;
    height: 570px;
    border-radius: 18px;
}
/* Menu */
.main-menu .user-image{
    width: 220px;
    height: 220px;
    margin: 40px auto;
    border-radius: 18px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-menu .user-service {
    border-top: 1px solid #e4e4e4;
    width: 310px;
    padding: 15px 15px;
    height: 240px;
}
.main-menu .user-service .service {
    border-bottom: 1px solid #e4e4e4;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    width: 280px;
}
.main-menu .user-service .service .service-icon {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}
.main-menu .user-service .service .service-title{
    height: 48px;
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-menu .user-service .service .service-icon i {
    font-size: 24px;
}
.main-menu .user-service .service .service-title span {
    font-size: 16px;
}
.service .active {
    color: #ccc;
}
/* Form - Profile */
.main-spot .form-profile{
    width: 800px;
    margin: 0px auto;
}
.main-spot .form-profile .label-form{
    height: 60px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    color: rgba(85,85,85,.8);
}
.main-spot .form-profile .label-form span{
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #000;
}
.main-spot .form-profile .form-input{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-spot .form-profile .form-input span{
    font-size: 16px;
    color: rgba(85,85,85,.8);
    width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.main-spot .form-profile .form-input input[type="text"], .main-spot .form-profile .form-input input[type="number"]{
    width: 540px;
    height: 36px;
    border: none;
    border: 1px solid #e4e4e4;
    padding: 10px;
    display: block;
}
.main-spot .btn-save{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    padding-right: 15px;
}
.main-spot .btn-save .save-info{
    cursor: pointer;
    background: #ee4d2d;
    border: 0;
    border-radius: 5px;
    height: 48px;
    width: 80px;
    color: #fff;
    font-size: 14px;
}
.main-spot .form-profile .error-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    margin: 10px;
}
.main-spot .form-profile .total-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    margin: 10px;
    font-size: 18px;
}
.main-spot .form-profile .total-price span{
    text-transform: uppercase;
}
.main-spot .form-profile .error-message span {
    color: #ee4d2d;
    
}
/* Content */
.main-spot table {
}
.main-spot table thead {
    height: 60px;
    margin: 20px 0px;
}
table thead tr th {
    padding: 10px;
    text-align: center;
}
table tbody tr td{
    padding: 10px;
}
table .td-image-product{
    height: 100px;
    width: 100px;
}
table .td-name-product {
    height: 100px;
    width: 220px;
}
table .td-name-product span {
    height: 100px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}
table .td-price-product, table .td-sum-product{
    width: 90px;
}
table .td-price-product span, table .td-sum-product span{
    justify-content: center;
    height : 100px;
    width: 90px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}
table .td-quantity-product{
    height: 120px;
    width: 120px;
}
table .td-quantity-product span{
    padding: 5px;
    width: 30px;
    text-align: center;
    display: inline-block;
}
table .td-quantity-product button{
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 30px;
    height: 30px;
}
table .td-quantity-product button span {
    font-size: 18px;
    flex-shrink: 0;
}
table .td-delete-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
table .td-delete-product button {
    background: #b31e00;
    border: 0;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}